.add-task-dialog-enter {
    opacity: 0;
}

.add-task-dialog-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.add-task-dialog-exit {
    opacity: 1;
}

.add-task-dialog-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.scrollbar-basic {
    scrollbar-width: thin;

    scrollbar-color: #c4a2ff transparent;

}

.scrollbar-basic::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-basic::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-basic::-webkit-scrollbar-thumb {
    background-color: #c4a2ff;

    border-radius: 9999px;

}

.scrollbar-basic::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;

}